<h3 class="highlighted-subtitle">Course Schedule</h3>
<table id="calendar">
<tbody>
<tr><th>Week</th><th>Date</th><th>Lecture</th><th>Reading</th><th>Vitamin</th><th>Assignments</th><th>Due Date Reminders</th></tr>
{% for org_hash in site.data.syllabus.weeks %}
  <tr>
    <td class="weeknum" rowspan="5">{{org_hash.weekNum}}</td>
  	{% for day in org_hash.basic %}
    	<td> {{day.date}} </td>
    	<td>
        {% if day.slidesURL != null %}
          <a href="{{day.slidesURL}}">{{day.lectureTitle}} </a>
        {% else %}
          {{day.lectureTitle}}
        {% endif %}
        {% if day.demosURL != null %}
          <a href="{{day.demosURL}}">(Demos)</a>
        {% endif %}
      </td>
    	<td>
        {% for reading in day.readings%}
          <a href="{{reading.URL}}">{{reading.name}}</a>{% if forloop.last == false %},{% endif %}
        {% endfor %}
      </td>
    	<td>
        {% if day.vitaminURL != null %}
          <a href="{{day.vitaminURL}}">{{day.vitamin}} </a>
        {% else %}
          {{day.vitamin}}
        {% endif %}
      </td>
    	<td>
        {% for assignment in day.assignments%}
          {% if assignment.URL != null %}
            <a href="{{assignment.URL}}">{{assignment.name}} </a>
          {% else %}
            {{assignment.name}}
          {% endif %}
          {% if assignment.dueDate != null %}
            (Due {{assignment.dueDate}})
          {% endif %}
        {% endfor %}
      </td>
      <td>
        {% for dueDate in day.assignmentsDue%}
          {{dueDate.text}}
        {% endfor %}
      </td>
  	</tr>
  	<tr>
  {% endfor %}
  </tr>
{% endfor %}
</tbody>
</table>
